<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Welcome to {{ title }}!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li routerLinkActive="active">
          <a routerLink="/intro">
            Intro
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/ctrl">
            Control
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/form1">
            Form 1
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/form2">
            2
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/form3">
            3
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/form4">
            4
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/form4-validation">
            4V
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/form5">
            5
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/reactive-form1">
            R1
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/reactive-form2">
            R2
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dynamic-forms">
            D
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 top-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
